.floatingSVG__container {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.floatingSVG {
  position: absolute;
  animation: float 5s 0s ease-in-out infinite;
  scale: 0.7;
}

@keyframes float {
  0%,
  100% {
    transform: translate(2px, -4px);
  }
  50% {
    transform: translate(-8px, 6px);
  }
}

.svg1 {
  top: 20%;
  left: 5%;
}

.svg2 {
  top: 75%;
  left: 3%;
  animation-delay: 1.5s;
}

.svg3 {
  top: 25%;
  left: 50%;
}

.svg4 {
  top: 70%;
  left: 52%;
  animation-delay: 1s;
}

.svg5 {
  top: 15%;
  left: 35%;
  animation-delay: 2s;
}

.svg6 {
  top: 70%;
  left: 30%;
  animation-delay: 0.5s;
}
