@font-face {
  font-family: "consolas";
  src: url("./assets/fonts/consola-webfont.woff2") format("woff2"),
    url("./assets/fonts/consola-webfont.woff") format("woff");
}

@font-face {
  font-family: "consolas bold";
  src: url("./assets/fonts/consolab-webfont.woff2") format("woff2"),
    url("./assets/fonts/consolab-webfont.woff") format("woff");
  font-weight: bold;
}

:root {
  --green-300: #17d885;
  --green-500: #119c60;
  --dark-grey: #222222;
  --font: "consolas";
  --font-b: "consolas bold";
  --font-xs: 0.6rem;
  --font-s: 0.8rem;
  --font-m: 1rem;
  --font-xm: 1.2rem;
  --font-l: 1.5;
  --font-xl: 2rem;
  --text-color: #fff;
  --btn-color: var(--green-300);
  --btn-text-color: #000;
  --btn-hover-color: var(--green-500);
  --bg-color: var(--dark-grey);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}
/*
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  /* line-height: 1.5; */
  -webkit-font-smoothing: antialiased;
  font-family: var(--font);
  background-color: var(--bg-color);
  color: var(--text-color);
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root {
  isolation: isolate;
}
